<main class="gerenciamento_pacientes">
    <header class="cabecalho_controles">
        <h1 class="titulo_pagina">Gestão de Pacientes</h1>
        <button class="botao btn_adicionar_paciente">
            Adicionar Paciente
        </button>
    </header>

    <section class="lista_pacientes">
        <div class="card card_paciente">
            <div class="detalhes_paciente">
                <div class="info_pessoal">
                    <h4 class="nome_paciente">Margaret Oliveira</h4>
                    <p class="idade_paciente">Idade: 78</p>
                </div>
                <div class="icone_paciente">
                    <svg aria-hidden="true" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                        <path d="M12 1C15.315 1 18 3.685 18 7C18 10.2397 15.4357 12.8776 12.225 12.9959L12 13C8.685 13 6 10.315 6 7C6 3.76034 8.56434 1.12237 11.775 1.00414L12 1ZM12 3C9.78957 3 8 4.78957 8 7C8 9.21043 9.78957 11 12 11C14.2104 11 16 9.21043 16 7C16 4.78957 14.2104 3 12 3ZM12 14V16C8.68629 16 6 18.6863 6 22H4C4 17.6651 7.44784 14.1355 11.7508 14.0038L12 14ZM17.841 15.659C18.7197 14.7803 20.1443 14.7803 21.023 15.659C21.9017 16.5377 21.9017 17.9623 21.023 18.841L18.0178 21.8462L15.0126 18.841C14.1339 17.9623 14.1339 16.5377 15.0126 15.659C15.8913 14.7803 17.3159 14.7803 18.1946 15.659L17.841 15.659Z"></path>
                    </svg>
                </div>
            </div>

            <div class="info_contato">
                <p >Av. Octávio Mangabeira, 2538, Salvador - BA</p>
                
                <div class="condicoes_paciente">
                    <span class="tag tag_diabetes">Diabetes Tipo 2</span>
                    <span class="tag tag_hipertensao">Hipertensão</span>
                    <span class="tag tag_mais">+1 mais</span>
                </div>
            </div>
        </div>
    </section>
    
</main>