.fundo_gradiente {
    background: linear-gradient(
        to bottom,
        var(--cor_gradient_2),
        var(--cor_gradient_4), transparent);
    padding-bottom: 10rem;
}

.container_content {
    width: 100%;
}

.container_about {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.container_topicos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 10px;
}

.titulo {
    width: 100%;
    background-image: linear-gradient(
        to right,
        var(--cor_gradient_1) 10%,
        var(--cor_gradient_2) 20%,
        var(--cor_gradient_4) 40%,
        transparent);
    border-radius: 2px;
    border-left: 6px solid sandybrown;

}

.titulo h1 {
    font-size: 1.9rem;
    text-indent: 10px;
    color: white;
}

.topicos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.topicos h3 {
    font-size: 1.1rem;
    text-indent: 10px;
}

.topicos p {
    font-size: 1rem;
    padding-left: 10px;
}

#historia,
#solucoes,
#lgpd {
  padding-top: 7.2rem;
  scroll-margin-top: 10rem; 
}
