<app-header></app-header>
<main>
    <!------------ Cuidado Conectado -------------->
    <section class="container_about">
        <div class="titulo">
            <h1></h1>
        </div>
        <div class="topicos">
            <h3></h3>
            <p></p>
        </div>
        <div class="topicos">
            <h3></h3>
            <p></p>
        </div>
        <div class="topicos">
            <h3></h3>
            <p></p>
        </div>
        <div class="topicos">
            <h3></h3>
            <p></p>
        </div>
    </section>


    <!-------- Plataformas e Soluções ---------->
    <section class="container_about">
        <div class="titulo">
            <h1></h1>
        </div>
        <div class="topicos">
            <h3></h3>
            <p></p>
        </div>
        <div class="topicos">
            <h3></h3>
            <p></p>
        </div>
        <div class="topicos">
            <h3></h3>
            <p></p>
        </div>
        <div class="topicos">
            <h3></h3>
            <p></p>
        </div>
    </section>


    <!------------ Suporte e LGPD -------------->
    <section class="container_about">
        <div class="titulo">
            <h1></h1>
        </div>
        <div class="topicos">
            <h3></h3>
            <p></p>
        </div>
        <div class="topicos">
            <h3></h3>
            <p></p>
        </div>
        <div class="topicos">
            <h3></h3>
            <p></p>
        </div>
        <div class="topicos">
            <h3></h3>
            <p></p>
        </div>
    </section>
</main>
<app-footer></app-footer>