<header [class.menu-white]="menuBranco">
    <div class="container_header">
        <div class="container_logo">
            <img 
                [src]="menuBranco ? 'img/logo/logo_verde.png' : 'img/logo/logo_branco_2.png'" alt="Logo">
        </div>
        <div class="container_nav">
            <nav class="nav">
                <a >Início</a>
                <a >Benefícios</a>
                <a >Serviços</a>
                <a >Contato</a>
                <a >Sobre</a>
            </nav>
            <div class="container_button">
                <a href=""><button class="button_login">Login</button></a>
            </div>
        </div>
    </div>
</header>