<main class="fundo_gradiente_geral">
    <div class="container_forms" id="login_inicio">
        <form class="forms" #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <header class="forms_header">
                <h2>
                    Cuidado Conectado
                </h2>
                <p>
                     <span>Seja bem vindo!</span>
                </p>
            </header>

            <div class="options_container">
                <div class="campos_login">
                    <div  class="options">
                        <label for="login_usuario">Login</label>
                        <input placeholder="Digite seu usuário" type="text" name="login_usuario" [(ngModel)]="username" required>
                    </div>
                    <div  class="options">
                        <label for="senha_usuario">Senha</label>
                        <input placeholder="Digite sua senha" type="password" name="senha_usuario" [(ngModel)]="password" required>
                    </div>
                </div>

                <div class="options" id="botao_enviar">
                    <button type="submit" [disabled]="!loginForm.valid">
                        Enviar
                    </button>
                    <div class="container_texto_botao">
                        <p>
                            Ao enviar, você concorda com nossa
                            <a [routerLink]="['/about']" fragment="lgpd" target="_blank">política de privacidade</a>.
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>