main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container_forms {
    width: 30%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 30px;
    border: 2px solid var(--cor_gradient_1);
    border-radius: 6px;
    scroll-padding-top: 200px;
    margin: auto;
    background-color: rgba(245, 245, 245, 0.756);
}

.forms {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.forms_header {

}

.forms_header h2 {
    font-size: 2.3rem;
}

.forms_header p {
    font-size: 0.9rem;
}

.forms_header span {
    font-weight: 500;
}

.options_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.campos_login {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5px;
}

.options label,
select {
    font-size: 0.78rem;
}

.options label {
    font-weight: 450;
}

.options :placeholder-shown,
select {
    font-size: 0.76rem;
    font-weight: 450;
    display: flex;
}

.options input, select {
    border: 1px solid var(--cor_gradient_1);
    height: 35px;
    border-radius: 4px;
    text-indent: 5px;
}

.container_texto_botao {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_texto_botao p {
    font-size: 0.75rem;
}

.container_texto_botao p > a {
    text-decoration: none;
    font-weight: 500;
}

#mais_informacoes textarea {
    height: 150px;
    text-align: start;
    padding-top: 5px; 
    padding-left: 5px;
    box-sizing: border-box;
    line-height: 1.2; 
    vertical-align: top;
    height: 150px;
    top: 8px;
    resize: none;
    border: 1px solid var(--cor_gradient_1);
    border-radius: 6px;
}

#mais_informacoes input::placeholder {
    position: absolute;
    top: 8px;
}

#botao_enviar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

button {
    width: 68%;
    display: flex;
    justify-content: center;
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 12px 25px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    background: var(--cor_gradient_4);
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid var(--cor_gradient_4);
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 var(--cor_gradient_4);
}

button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 var(--cor_gradient_3);
}

button:active {
    transform: scale(0.9);
}