header {
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 99;
  overflow-x: hidden;
  background-color: transparent;
}

.container_header {
    width: 100%;
    /* max-width: 1550px; */
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.container_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container_logo img {
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
}

.container_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.container_usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.usuario_dados {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
}

.container_usuario h5 {
    font-size: 0.8rem;
}

.container_usuario p {
    font-size: 0.7rem;
}

.usuario_foto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usuario_foto svg {
    width: 50%; 
}

.usuario_foto img {
    width: 100%;
}


.button {
  position: relative;
  display: inline-block;
  padding: 0.6rem 0.9rem;
  text-align: center;
  font-size: 0.79rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--cor_preto);
  background: var(--cor_gradient_6);
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid var(--cor_gradient_1);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 var(--cor_gradient_4);
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

button:hover {
  box-shadow: inset 0 -100px 0 0 var(--cor_gradient_1);
}

.button:hover svg {
    fill: black;
}

button:active {
  transform: scale(0.9);
}