header {
  width: 100%;
  padding: 20px;
  overflow-x: hidden;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.container_header {
    width: 100%;
    /* max-width: 1550px; */
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.container_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container_logo img {
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
}

.container_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.container_usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.usuario_dados {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
}

.container_usuario h5 {
    font-size: 0.8rem;
}

.container_usuario p {
    font-size: 0.7rem;
}

.usuario_foto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usuario_foto svg {
    width: 50%; 
}

.usuario_foto img {
    width: 100%;
}

.botao {
    width: 100%;
    padding: 12px 20px;
    background-color: #ffffff;
    color: #37b7a6;
    border: 1px solid #37b7a6;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.botao:hover {
    background-color: #f1fafa;
}

.button:hover svg {
    fill: black;
}

.button:active {
  transform: scale(0.9);
}

.container_icone {
    display: flex;
    justify-content: center;
    align-items: center;
}
