<header [class.menu-white]="menuBranco">
    <div class="container_header">
        <div class="container_logo">
            <img 
                [src]="menuBranco ? 'img/logo/logo_verde.png' : 'img/logo/logo_branco_2.png'" alt="Logo">
        </div>
        <div class="container_nav">
            <nav class="nav">
                <a class="links" href="#home">Início</a>
                <a class="links" href="#beneficios">Benefícios</a>
                <a class="links" href="#servicos">Serviços</a>
                <a class="links" href="#contato">Contato</a>
            </nav>
            <div class="container_button">
                <button class="button_login">Login</button> 
            </div>
        </div>
    </div>
</header>