main {
    height: 100vh;
    display: grid;
}

.container_menu {
    border-right: 1px solid black;
}


.content_menu {
    min-height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.opcoes_menu {
    font-size: 0.5rem;
    font-weight: 500;
    width: 90%;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 2px solid var(--cor_gradient_4);
}

.opcoes_menu:hover {
    background-color: whitesmoke;
    transition: ease-in 0.3s;
}

.opcoes_menu h1 {
    color: #484d52;
}

.opcoes_menu.selecionado {
    background-color: #3e9972;
    transition: background-color 0.3s ease;
}

.opcoes_menu.selecionado h1 {
    color: white;
}

.opcoes_menu.selecionado svg {
    fill: white;
}