header {
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 99;
    overflow-x: hidden;
    background-color: transparent;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.container_header {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.container_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container_logo img {
    width: 45%;
    border-radius: 10px;
}

.container_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.links {
    text-decoration: none;
    color: var(--cor_branco);
    font-size: 0.90rem;
    font-weight: 400;
    letter-spacing: 0.04rem;
}

.button_login {
  position: relative;
  display: inline-block;
  /* margin: 15px; */
  padding: 12px 30px;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--cor_preto);
  background: var(--cor_gradient_6);
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid var(--cor_gradient_4);
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 var(--cor_gradient_4);
}

button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 var(--cor_gradient_1);
}

button:active {
  transform: scale(0.9);
}
