.container_header {
    display: flex;
    justify-content: space-around;
    height: 80px;
    padding: 45px 0;
}

.container_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container_logo img {
    width: 10%;
    border-radius: 10px;
}

.container_logo h1 {
    font-size: calc(var(--font_size_padrao) + 0.3rem);
}

.container_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.links {
    text-decoration: none;
    color: var(--cor_preto);
}

.button_login {
    padding: 12px 16px;
    border-radius: 7px;
    border: none;
    background-color: var(--cor_padrao);
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--cor_branco);
}