header {
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 99;
    overflow-x: hidden;
    background-color: black;
}

.container_header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.container_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container_logo img {
    width: 45%;
    border-radius: 10px;
}

.container_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.links {
    text-decoration: none;
    color: var(--cor_branco);
    font-size: 0.95rem;
    font-weight: 400;
    letter-spacing: 0.04rem;
}

.button_login {
    padding: 0.58rem 0.8rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.481);
    font-size: calc(var(--font_size_padrao) - 0.05rem);
    background-color: var(--cor_padrao);
    cursor: pointer;
    color: var(--cor_branco);
    font-weight: 500;
    letter-spacing: 0.04rem;
}