<header >
    <div class="container_header">
        <div class="container_logo">
            <img src="img/logo_branco_2.png" alt="" />
        </div>
        <div class="container_nav">
            <nav class="nav">
                <a class="links" href="#home">Home</a>
                <a class="links" href="#sobrenos">Features</a>
                <a class="links" href="#Serviços">Service</a>
                <a class="links" href="#Contato">Contact</a>
            </nav>
            <div class="container_button">
                <button class="button_login">Login</button>
            </div>
        </div>
    </div>
</header>
