.container_header {
    display: flex;
    justify-content: space-around;
    margin: auto;
    height: 80px;
    padding: 40px 20px;
}

.container_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container_logo img {
    width: 40%;
    border-radius: 10px;
}

.container_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.links {
    text-decoration: none;
    color: var(--cor_preto);
    font-size: 0.8rem;
    font-weight: 500;
}

.button_login {
    padding: 8px 16px;
    border-radius: 7px;
    border: none;
    background-color: var(--cor_padrao);
    cursor: pointer;
    font-size: calc(var(--font_size_padrao) - 0.29rem);
    color: var(--cor_branco);
    font-weight: 500;
}