<app-header-system></app-header-system>
<main>
    <section class="container_principal">
        <div class="header_menu_lateral">
            <app-menu-lateral-system>
            </app-menu-lateral-system>
        </div>

        <div class="container_content">
            <div class="container_informacoes">
                <div class="total_de_pacientes indicadores">
                    <div class="container_texto">
                        <h5>Total Pacientes</h5>
                        <p>1</p>
                    </div>
                    <div class="container_icon">
                        <i class="icon_paciente"></i> 
                    </div>
                </div>
                
                <div class="usuarios_ativos indicadores">
                    <div class="container_texto">
                        <h5>Usuários Ativos</h5>
                        <p>4</p>
                    </div>
                    <div class="container_icon">
                        <i class="icon_usuario"></i>
                    </div>
                </div>
                
                <div class="programacao indicadores">
                    <div class="container_texto">
                        <h5>Programação do dia</h5>
                        <p>1</p>
                    </div>
                    <div class="container_icon">
                        <i class="icon_calendario"></i>
                    </div>
                </div>
                
                <div class="mensagens indicadores">
                    <div class="container_texto">
                        <h5>Mensagens</h5>
                        <p>1</p>
                    </div>
                    <div class="container_icon">
                        <i class="icon_mensagem"></i>
                    </div>
                </div>
            </div>

            <div class="container_atividades">
                
                <div class="card_atividades section_card">
                    <h3>Mensagens Recentes</h3>
                    
                    <div class="ativar_item">
                        <div class="icon"></div> 
                        <div class="details">
                            <div class="container_txt_msg">
                                Gestor <br>
                                Bom dia, equipe! Passando para desejar um ótimo <br>
                                plantão a todos!
                            </div>
                        </div>
                    </div>
                    </div>
                
                <div class="card_acoes_rapidas section_card">
                    <h3>Ações Rápidas</h3>
                    
                    <button class="butao">
                        <i class="icon_add_paciente"></i> Adicionar Novo Paciente
                    </button>
                    <button class="butao">
                        <i class="icon_add_user"></i> Adicionar Novo Usuário
                    </button>
                    <button class="butao">
                        <i class="icon_calendario"></i> Gerenciar Agenda
                    </button>
                </div>
            </div>
        </div>
    </section>
</main>