<app-header></app-header>
<main>
    <section class="home" id="home">
        <div class="section_content_home">
            <div class="container_texto">
                <h1>
                    Cuidado Conectado
                </h1>
                <p>
                    <span> Tecnologia que aproxima quem cuida</span>.
                    Unimos familiares, médicos e cuidadores em uma rede de apoio digital, garantindo um cuidado excepcional e humanizado para quem você ama.
                </p>
            </div>
            <div class="container_img">
                <img src="img/home/img_doctor_home.jpeg" alt="Imagem Paciente e Doutora">
            </div>
        </div>
    </section>


    <!-- Benefícios -->
    <section class="beneficios" id="beneficios">
        <div class="titulo_beneficios">
            <h2>
                Cuidado inteligente para quem mais precisa
            </h2>
            <p>
                Uma nova forma de cuidar: simples, conectada e eficiente.
            </p>
        </div>
        <section class="container_cards">
            <div class="card">
                <div class="icon">
                    <img id="heart" src="icons/beneficios/icon_heart.png" alt="">
                </div>
                <div class="card_texto">
                    <h3>
                        Monitoramento da Saúde em Tempo Real
                    </h3>
                    <p>
                        Acompanhe os sinais vitais, medicamentos e métricas de saúde com alertas instantâneos para cuidadores e profissionais de saúde.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="icon" >
                    <img id="user" src="icons/beneficios/icon_user.png" alt="">
                </div>
                <div class="card_texto">
                    <h3>
                        Coordenação Unificada de Cuidados
                    </h3>
                    <p>
                        Colaboração integrada entre familiares, cuidadores e médicos por meio da nossa plataforma integrada.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="icon" >
                    <img id="protect" src="icons/beneficios/icon_protect.png" alt="">
                </div>
                <div class="card_texto">
                    <h3>
                        Segurança e Conformidade
                    </h3>
                    <p>
                        Proteção Legal (LGPD) e Confidencialidade. Mantenha os dados de saúde sensíveis com a máxima segurança e em total conformidade com a legislação brasileira.
                    </p>
                </div>
            </div>
        </section>
    </section>

    <!-- Serviços -->
    <section class="servicos">
        <div class="container_content_servicos" id="servicos">
            <div class="servicos_titulo">
                <h2>
                    Soluções de Cuidados Abrangentes
                </h2>
                <p>
                    Tudo o que você precisa para gerenciar o cuidado de idoso em uma única plataforma.
                </p>
            </div>
            <div class="container_cards_servicos">
                <div class="servicos_card">
                    <div class="container_servico_img" id="card_1">
                    </div>
                    <div class="servicos_texto">
                        <h3>
                            Gestão de Nomeações
                        </h3>
                        <p>
                            Agende e coordene consultas médicas com lembretes automáticos e sincronização de calendário.
                        </p>
                    </div>
                </div>
                <div class="servicos_card">
                    <div class="container_servico_img" id="card_2">
                    </div>
                    <div class="servicos_texto">
                        <h3>
                            Acompanhamento de Medicamentos
                        </h3>
                        <p>
                            Monitore os cronogramas de medicação, dosagens e recargas com sistemas inteligentes de lembretes.
                        </p>
                    </div>
                </div>
                <div class="servicos_card">
                    <div class="container_servico_img" id="card_3">
                    </div>
                    <div class="servicos_texto">
                        <h3>
                            Registros de Saúde
                        </h3>
                        <p>
                            Registros digitais centralizados de saúde acessíveis aos membros da equipe de atendimento autorizados a qualquer momento.
                        </p>
                    </div>
                </div>
                <div class="servicos_card">
                    <div class="container_servico_img" id="card_4">
                    </div>
                    <div class="servicos_texto">
                        <h3>
                            Comunicação Instantânea
                        </h3>
                        <p>
                            Mensagens em tempo real e chamadas de vídeo conectando famílias aos prestadores de cuidados.
                        </p>
                    </div>
                </div>
                <div class="servicos_card">
                    <div class="container_servico_img" id="card_5">
                    </div>
                    <div class="servicos_texto">
                        <h3>
                            Análise de Progresso
                        </h3>
                        <p>
                            Relatórios e insights abrangentes que acompanham tendências de saúde e resultados de cuidados.
                        </p>
                    </div>
                </div>
                <div class="servicos_card">
                    <div class="container_servico_img" id="card_6">
                    </div>
                    <div class="servicos_texto">
                        <h3>
                            Alertas de Emergência
                        </h3>
                        <p>
                           Notificações imediatas para situações críticas com protocolos automáticos de emergência.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contato -->
    <section class="container_contato" id="contato">
        <div class="contato_content">
            <div class="contato_texto">
                <h2>
                    Pronto para transformar sua experiência de cuidado?
                </h2>
                <p>
                    Junte-se a milhares de famílias e profissionais de cuidados que confiam na Cuidado Conectado
                </p>
            </div>
            <div class="container_contato_botao">
                <button>
                    Entre em contato
                </button>
            </div>
        </div>
    </section>
</main>

<!-- Rodape -->
<footer>
    <section class="container_rodape" id="contato">
        <section>
            <div class="rodape_content">
                <div class="rodape_content_1">
                    <div class="rodape_logo">
                        <img src="img/logo/logo_branco_2.png" alt="Imagem Logo">
                    </div>
                    <div class="container_rodape_icones">
                        <div class="rodape_icones_img">
                            <img src="icons/rodape/telephone_2.svg" alt="Icone Telefone">
                        </div>
                        <div class="rodape_contato">
                            <h4> Central </h4>
                            <p>(99) 9999-9999</p>
                        </div>
                    </div>
                    <div class="icons_content_1">
                        <div class="container_back_icons" >
                            <img src="icons/rodape/facebook.svg" alt="Icone facebook">
                        </div>
                        <div class="container_back_icons">
                            <img src="icons/rodape/instagram.svg" alt="Icone Instagram">
                        </div>
                        <div class="container_back_icons">
                            <img src="icons/rodape/linkedin.svg" alt="Icone linkedin">
                        </div>
                        <div class="container_back_icons">
                            <img src="icons/rodape/twitter-x.svg" alt="Icone Twitter - X">
                        </div>
                    </div>
                </div>
                <div class="rodape_content_2">
                    <div class="content_lista_rodap">
                        Para Pacientes
                        Especialidades
                        Exames
                        Exames e Procedimentos
                    </div>
                    <div class="content_lista_rodap">
                        Para Médico
                        Resultado de Exames
                        Portal do Médico
                    </div>
                    <div class="content_lista_rodap">
                        Institucional
                        Nossa História
                        Qualidade
                        Centro de Pesquisas
                    </div>
                </div>
            </div>
        </section>
        <div class="container_copy">
            <p>&copy; 2025 Cuidado Conectado. Todos os Direitos Reservados.</p>
        </div>
    </section>
</footer>
