main {
    width: 100vw;
    height: 100vh;
}

.home {
    padding-top: 155px;
    padding-left: 32px;
    padding-right: 32px;
    background: linear-gradient(
        to bottom,
        var(--cor_gradient_1),
        var(--cor_gradient_2),
        var(--cor_gradient_4), transparent);
}

.section_content_home {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding-bottom: 10.3rem;
}

.container_texto {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    color: var(--cor_branco);
    padding-left: 0.3rem;
}

.container_texto h1 {
    margin-bottom: 4rem;
    font-size: calc(var(--font_size_padrao) + 3.5rem);
}

.container_texto p {
    text-align: justify;
    margin-top: 10px;
    line-height: 1.8rem;
    font-size: calc(var(--font_size_padrao) + 0.2rem);
}

span {
    font-weight: 600;
}

.container_img {
    width: 40%;
    display: flex;
}

.container_img img {
    width: 100%;
    border-radius: 1rem;
}