main {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.home {
    padding-top: 10rem;
    background: linear-gradient(
        to bottom,
        var(--cor_gradient_1),
        var(--cor_gradient_2),
        var(--cor_gradient_4), transparent);
}

.section_content_home {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding-bottom: 10.3rem;
    gap: 2.5rem;
}

.container_texto {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    color: var(--cor_branco);
    gap: 40px;
}

.container_texto h1 {
    margin-bottom: 4rem;
    font-size: clamp(4rem, 2vw, 4rem);
    line-height: 6rem;
    text-shadow: 1px 1px 1px black;
}

.container_texto p {
    font-size: clamp(1rem, 1.2vw, 2rem);
    text-align: justify;
    margin-top: 10px;
    line-height: 2rem;
    padding: 0 13px;
}

span {
    font-weight: 600;
}

.container_img {
    width: 40%;
    display: flex;
    justify-content: center;
}

.container_img img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
}

/* carrosel */
.container_carrosel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
}
  
#carrosel {
    width: 60%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
    margin: auto;
}

.nav_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_btn.left {
    left: 110px;
}

.nav_btn.right {
    right: 110px;
}
  
/* Benefícios */
.beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    color: black;
    gap: 60px;
    padding-top: 12rem;
    padding-bottom: 2rem;
}

.titulo_beneficios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    line-height: 2.8rem;
    text-align: center;
}

.titulo_beneficios h2 {
    font-size: clamp(2rem, 4vw, 2.8rem);
    font-weight: 700;
}

.titulo_beneficios p {
    font-size: clamp(1.5rem, 1vw, 2.5rem);
    max-width: 48rem;
    width: 100%;
}

.container_cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgba(246, 241, 241, 0.083);
    color: black;
    padding: 20px 25px;
    box-shadow: 0px 2px 8px rgba(146, 130, 147, 0.815);
    border-radius: 1rem;
    gap: 30px;
    min-height: 320px;
}

.card:hover {
    outline: 2px solid rgb(44, 196, 107);
    box-shadow: none;
}

.icon {
    width: 62px;
    height: 64px;
}

#heart {
    width: 100%;
    margin: auto;
    background-image: linear-gradient(to bottom, #FF6B8B, #FF3B5F);
    border-radius: 0.6rem;
}

#user {
    width: 100%;
    margin: auto;
    background: linear-gradient(305deg, #0763ecc8, #0033CC);
    border-radius: 0.6rem;
}

#protect {
    width: 100%;
    margin: auto;
    background-image: linear-gradient(305deg, #2ca07f, #2ECC71);
    border-radius: 0.6rem;
}

.card_texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.card_texto h3 {
    font-size: clamp(1.5rem, 1vw, 1.5rem);
}

.card_texto p {
    font-size: clamp(1rem, 1vw, 1.5rem);
    display: flex;
    align-items: center;
}

/* Serviços */
.servicos {
    max-width: 100%;
    background-image:
    linear-gradient(to top, rgba(112, 181, 176, 0), rgba(112, 181, 176, 0.0) 0%, rgba(155, 223, 219, 0.607) 50%, rgba(255, 254, 254, 0.117) 100%),
    url('/mnt/data/55246.png');
    background-size: cover;
    background-position: center;
    padding-top: 10rem;
}

.container_content_servicos {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    gap: 60px;
}

.servicos_titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.servicos_titulo h2 {
    font-size: clamp(2.8rem, 4vw, 3rem);
    line-height: 1.7;
    font-weight: 700;
    color: var(--cor_gradient_3);
}

.servicos_titulo p {
    font-size: clamp(1.4rem, 1vw, 2rem);
    width: 60%;
    text-align: center;
    color: rgb(76, 145, 148);
}

.container_cards_servicos {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 2rem;
    justify-content: center;
    margin: auto;
}

.servicos_card {
    width: 100%;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    background: #fff;
    max-height: 390px;
}

.container_servico_img {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: fill;
}

.servicos_texto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 1.5rem;
    padding: 5%;
    min-height: 180px;
}

.servicos_texto h3 {
    font-size: clamp(1.35rem, 1vw, 2rem);
    font-weight: 700;
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
    min-height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    width: 80%;
}

.servicos_texto p {
    font-size: clamp(1.09rem, 1vw, 1.2rem);
    color: rgb(75 85 99);
    font-weight: 400;
}

/* Contato */
.container_contato {
    width: 100%;
    padding-top: 16rem;
    padding-bottom: 5rem; 
}

.contato_content {
    width: 100%;
    max-width: 1300px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.contato_texto {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    text-align: center;
}

.contato_texto h2 {
    font-size: clamp(2.1rem, 2.8vw, 3rem);
}

.contato_texto p {
    font-size: clamp(1.26rem, 1vw, 3rem);
    line-height: 2rem;
}

.contato_texto span {
    font-weight: 600;

}

.botao_formulario {
    margin: 15px;
    padding: 15px 30px;
    border: 2px solid var(--cor_gradient_4);
    border-radius: 5px;
}

button {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--cor_preto);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  box-shadow: inset 0 0 0 0 var(--cor_gradient_4);
}

button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 var(--cor_gradient_3);
}

button:active {
  transform: scale(0.9);
}

.container_contato {
    padding-top: 12rem;
    scroll-margin-top: 10rem;
}

.beneficios {
    padding-bottom: 8rem;
    scroll-margin-top: 10rem;
}

.servicos,
.contato_content {
    padding-top: 8rem;
    scroll-margin-top: 10rem;
}