.container_principal {
    display: flex;
    width: 100%;
    max-width: 1650px;
    margin: auto;
    margin-top: 1.2rem;
}

.container_content_geral {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 30px
}

.container_visao_geral {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    margin-bottom: 20px;
}

.indicadores {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    height: 100px;
    gap: 10px;
    border-bottom: 2px solid var(--cor_gradient_1);
    border-radius: 10px;
}

.indicadores h5 {
    font-size: 14px;
    color: #6c757d;
}

.indicadores p {
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.container_icon {
    width: 50px;
    height: 50px;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #80ece3b5;
    
}

.container_icon svg {
    width: 50%;
    height: 50%;
}
.container_atividades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.section_card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    border-right: 2px solid var(--cor_gradient_1);
    border-bottom: 2px solid var(--cor_gradient_1);
    border-radius: 10px;
}

.section_card h3 {
    font-size: 18px;
    color: #343a40;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 600;
}

.ativar_item {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.ativar_item .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e6f7f6;
    color: #40c4b8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-right: 15px;
}

.container_txt_msg {
    font-size: 14px;
    color: #495057;
    line-height: 1.4;
}

.card_acoes_rapidas {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.botao {
    width: 100%;
    padding: 12px 20px;
    background-color: #ffffff;
    color: #37b7a6;
    border: 1px solid #37b7a6;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao:hover {
    background-color: #f1fafa;
}