main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    /* height: 90%;
    width: 50%; */
    background-color: black;
    
}

.forms {
    margin: auto;
    width: 50%;
}