<!-- Rodape -->
<footer>
    <div class="container_footer">
        <div class="footer_conteudo">
            <div class="footer_logo">
                <img src="img/logo/logo_branco_2.png" alt="Imagem Logo">
            </div>
            <div class="footer_container_contato">
                <div class="footer_contato">
                    <div class="footer_telefone">
                        <div class="footer_telefone_ico">
                            <img src="icons/rodape/telephone_2.svg" alt="Icone Telefone">
                        </div>
                        <div class="footer_telefone_texto">
                            <h4> Central </h4>
                            <p>(99) 9999-9999</p>
                        </div>
                    </div>
                </div>
                <div class="footer_redesocial">
                    <div class="footer_redesocial_icon">
                        <img src="icons/rodape/facebook.svg" alt="Icone facebook">
                    </div>
        
                    <div class="footer_redesocial_icon">
                        <img src="icons/rodape/instagram.svg" alt="Icone Instagram">
                    </div>
        
                    <div class="footer_redesocial_icon">
                        <img src="icons/rodape/linkedin.svg" alt="Icone linkedin">
                    </div>
        
                    <div class="footer_redesocial_icon">
                        <img src="icons/rodape/twitter-x.svg" alt="Icone Twitter - X">
                    </div>
                </div>
            </div>
            <div class="footer_links">
                <p>
                    <strong>
                        Cuidado Conectado
                    </strong>
                </p>
                <a href="">Institucional</a>
                <a href="">Nossa História</a>
                <a href="">Qualidade</a>
                <a href="">Centro de Pesquisas</a>
            </div>
            <div class="footer_links">
                <p>
                    <strong>
                        Plataforma & Soluções
                    </strong>
                </p>
                <a href="">Gestão de Escalas</a>
                <a href="">Acompanhamento Eficiente</a>
                <a href="">Transparência</a>
                <a href="">Suporte ao Usuário</a>
            </div>
            <div class="footer_links">
                <p>
                    <strong>
                        Suporte & LGPD
                    </strong>
                </p>
                <a href="">Painel do Gestor</a>
                <a href="">Painel do Cuidador</a>
                <a href="">Painel do Médico</a>
                <a href="">Painel do Familiar</a>
            </div>
            <div class="footer_copy">
                <p>&copy; 2025 Cuidado Conectado. Todos os Direitos Reservados.</p>
            </div>
        </div>
    </div>
</footer>